.cover {
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .cover {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .cover {
    padding: 0;
  }
}