@import url('../styles/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/page/__container/page__container.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/_margin/header_margin.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__lang-buttons/header__lang-buttons.css');
@import url('../blocks/header/__lang-link/header__lang-link.css');
@import url('../blocks/header/__lang-link/_active/header__lang-link_active.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/lead/__title/lead__title.css');
@import url('../blocks/lead/__subtitle/lead__subtitle.css');
@import url('../blocks/lead/__image/lead__image.css');
@import url('../blocks/lead/__caption/lead__caption.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/intro/__container/intro__container.css');
@import url('../blocks/intro/__title/intro__title.css');
@import url('../blocks/intro/__text/intro__text.css');
@import url('../blocks/intro/__list/intro__list.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/photo-grid/__item/photo-grid__item.css');
@import url('../blocks/places/places.css');
@import url('../blocks/places/_margin_92/places_margin_92.css');
@import url('../blocks/place/place.css');
@import url('../blocks/place/__title/place__title.css');
@import url('../blocks/place/__website/place__website.css');
@import url('../blocks/place/__image/place__image.css');
@import url('../blocks/place/__url-heading/place__url-heading.css');
@import url('../blocks/place/__link/place__link.css');
@import url('../blocks/place/__description/place__description.css');
@import url('../blocks/place/__paragraph/place__paragraph.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/cover/__link/cover__link.css');
@import url('../blocks/cover/__title/cover__title.css');
@import url('../blocks/cover/__subtitle/cover__subtitle.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__menu/footer__menu.css');
@import url('../blocks/footer/__menu-item/footer__menu-item.css');
@import url('../blocks/footer/__menu-link/footer__menu-link.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');

@media (max-width: 1024px) {
  .lead {
    padding: 0 48px;
  }

  .intro {
    padding: 0 48px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .places {
    padding: 0 48px;
  }

  .place {
    grid-template-columns: 440px 1fr;
  }

  .cover {
    padding: 0;
  }

  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .page__container {
    padding: 0 24px;
  }

  .lead {
    padding: 0;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    padding: 0 24px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .places {
    padding: 0 24px;
  }

  .place {
    grid-template-columns: 340px 1fr;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .cover {
    padding: 0;
  }

  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .page__container {
    padding: 0 16px;
    box-sizing: border-box;
  }

  .header {
    max-width: 288px;
    min-height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    padding: 0 16px;
  }

  .intro__title {
    margin: 86px 0 0 0;
    font-size: 32px;
    line-height: 35px;
  }

  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }

  .place {
    grid-template-columns: 1fr;
  }

  .place__website {
    display: none;
  }

  .cover {
    padding: 0;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .cover__link {
    margin-bottom: 64px;
    min-height: 200px;
  }

  .footer {
    flex-direction: column;
  }

  .footer__menu {
    flex-direction: column;
    margin: 0;
  }

  .footer__menu-item {
    margin-bottom: 32px;
  }
}