.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  align-self: flex-start;
  margin: 8px 0 0 0;
}

@media (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}